@font-face {
    font-family: "Terminator Real NFI";
    src: url(fonts/terminator.ttf) format("truetype");
}

body {
    font-family: "Terminator Real NFI", "PT Sans", "Verdana";
    background-color: #AAAAAA;
}

.form-container {
	width: 450px;
	margin-left: 50px;
    margin-top: 50px;
    padding: 5px 50px 20px 50px;
	height: 420px;
	background-color: #EAEAEA;
	border-style: groove;
	border-color: #D4D4D4;
}

.form-name {
	text-align: center;
}

.form-raw {
	margin-bottom: 16px;
}

.form-img {
    margin-bottom: 5px;
    padding-bottom: 5px;
	padding-left: 65px;
	width: 320px;	height: 185px;}

.right-float {
	float: right;
	padding-right: 30px;
}

.submit-button {
	float: left;
	width: 550px;
	padding: 20px 0px 20px 0px;
	margin: 3px 0px 15px -50px;
	border: none;
	background-color: #499EF3;
    color: #FFFFFF;
    font-weight: bold;
}

.submit-button:hover  {
	cursor: pointer;
	cursor: hand;
}
