@font-face {
    font-family: "Terminator Real NFI";
    src: url(fonts/terminator.ttf) format("truetype");
}

body {
    font-family: "Terminator Real NFI", "PT Sans", "Verdana";
    background-color: #AAAAAA;
}

#mainMap {
    height: 400px;
    width:  554px;
    margin-left:50px;
    cursor: crosshair;
    clear: both;
    visibility: hidden;
}

#statusString {
    width: 556px;
    text-align: center;
    margin-left: 50px;
}

.form-container {
	width: 450px;
	margin-left: 50px;
    margin-top: 50px;
    padding: 5px 50px 20px 50px;
	height: 420px;
	background-color: #EAEAEA;
	border-style: groove;
	border-color: #D4D4D4;
}


.form-name {
	text-align: center;
}

.form-raw {
	margin-bottom: 16px;
}

.form-img {
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 65px;
	padding-left: 65px;
	width: 320px;
	height: 185px;
}

.right-float {
	float: right;
	padding-right: 30px;
}
.button {
	float: left;
	width: 550px;
	border: none;
	background-color: #499EF3;
    color: #FFFFFF;
    font-family: "Terminator Real NFI";
}
.submit-button {
	padding: 20px 0px 15px 0px;
	margin: 1px 0px 15px -50px;
}
.open-button {
    padding: 20px 0px 15px 0px;
    margin: 36px 0px 15px -50px;
}
.submit-button:hover  {
	cursor: pointer;
	cursor: hand;
}
.map-button {
    margin-left: 49px;
    border-style: groove;
    width: 556px;
    height: 51px;
}
