<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>weather</servlet-name>
        <jsp-file>weather.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>map</servlet-name>
        <jsp-file>map.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>weather-input</servlet-name>
        <servlet-class>ru.reverendhomer.coursework2015.WeatherInputServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>weather</servlet-name>
        <url-pattern>/weather</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>weather-input</servlet-name>
        <url-pattern>/weatherSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>map</servlet-name>
        <url-pattern>/map</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>weather.jsp</welcome-file>
    </welcome-file-list>

</web-app>
